<table class="table table-bordered">
  <thead>
    <tr class="success">
      <th>ID</th>
      <th>Username</th>
      <th>Hash Password</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% result.forEach(function(data) { %>
    <tr class="success" align="center">
      <td><%= data.id %></td>
      <td><%= data.user %></td>
      <td><%= data.pass %></td>
      <td>
        <a href="/b?id=<%= data.id %>"><img src="images/edit.png" width="30" height="30"></a>
        <a href="/delete?id=<%= data.id %>"><img src='images/delete.png' onclick="return confirm('Do you want to Delete ??')" width='30' height='30'></a>
      </td>
    </tr>
    <% }); %>
  </tbody>
  <tr>
    <td colspan="6"><a href="/" type="submit" class="btn btn-primary">Back</a></td>
  </tr>
</table>